
body{
	background-color:gray;
	display: flex;
	justify-content: center;
	
}
button{
	width: 15px;
}
.drum-pad{ 
	padding:50px;
	background-color: white;
	color :black;
	font-weight: bold;
	font-size: 40px;
	border-radius: 20px;
	border: 5px solid black;
 }
 .mypad{
	padding:50px;
	background-color: white;
	color :black;
	font-weight: bold;
	font-size: 40px;
	border-radius: 20px;
	border: 5px solid black;
 }
 .drum-pad:hover
 {
	 background-color:  rgb(90, 92, 91);
	 color:white;

	 transition: 0.5s;
	 transition-timing-function: ease-in;
 }